---
import '../styles/equipo.css'
---
<section class="cards_cont">
    <h1 class="titulo_cards">Equipo GNV</h1>
    <div class="cards">
        <div class="card">
            <img src="/img/tecnico1.jpeg" alt="">
            <h2>Juan Pérez</h2>
            <p>tecnico GNV</p>
        </div>
        <div class="card">
            <img src="/img/tecnico1.jpeg" alt="">
            <h2>Juan Pérez</h2>
            <p>tecnico GNV</p>
        </div>
        <div class="card">
            <img src="/img/tecnico1.jpeg" alt="">
            <h2>Juan Pérez</h2>
            <p>tecnico GNV</p>
        </div>
        <div class="card">
            <img src="/img/tecnico1.jpeg" alt="">
            <h2>Juan Pérez</h2>
            <p>tecnico GNV</p>
        </div>
    </div>
</section>