---
import '../styles/preguntas.css';
---

<section class="sec_pre">
  <h1 class="titulo_preguntas">Preguntas Frecuentes</h1>
  <div class="preguntas">
    
    <div class="pregunta">
      <input type="checkbox" id="preg1" class="toggle">
      <label for="preg1" class="ti_pregunta">¿Qué es el GNV?</label>
      <p class="respuesta">El GNV (Gas Natural Vehicular) es un combustible alternativo que se utiliza en vehículos para reducir emisiones contaminantes y costos operativos.</p>
    </div>

    <div class="pregunta">
      <input type="checkbox" id="preg2" class="toggle">
      <label for="preg2" class="ti_pregunta">¿Cómo funciona la conversión a GNV?</label>
      <p class="respuesta">La conversión a GNV implica instalar un sistema de inyección de gas en el motor del vehículo, permitiendo su funcionamiento con gas natural.</p>
    </div>

    <div class="pregunta">
      <input type="checkbox" id="preg3" class="toggle">
      <label for="preg3" class="ti_pregunta">¿Cuáles son los beneficios del GNV?</label>
      <p class="respuesta">El GNV ofrece beneficios como menores emisiones de CO2, reducción de costos de combustible y mayor eficiencia energética.</p>
    </div>

    <div class="pregunta">
      <input type="checkbox" id="preg4" class="toggle">
      <label for="preg4" class="ti_pregunta">¿Es seguro utilizar GNV en mi vehículo?</label>
      <p class="respuesta">Sí, el GNV es seguro cuando se instala correctamente por profesionales certificados y se siguen las normativas de seguridad.</p>
    </div>

  </div>
</section>
