---
import '../styles/trayecto.css'
---
<section class = "trayecto">
    <div class = "cont_trayect">
        <h1>Nuestra trayectoria</h1>
        <p>Desde 2005, en Taller Chanka's Car hemos sido pioneros en conversiones GNV, adaptando vehículos para un futuro más limpio y eficiente. Nuestra pasión por la innovación y el compromiso con el medio ambiente nos impulsan a ofrecer soluciones de vanguardia.
        
        Contamos con un equipo de técnicos altamente capacitados y certificados en las últimas tecnologías GNV. Cada conversión es realizada con precisión y cuidado, garantizando el máximo rendimiento y seguridad de tu vehículo.
        
        Somos líderes en el mercado gracias a nuestra dedicación a la calidad y la satisfacción del cliente. Confía en Taller Chanka's Car para transformar tu vehículo y contribuir a un planeta más sostenible. ¡Únete a la revolución del GNV!</p>
    </div>
    <img src="/img/trayecto.jpg" alt="">
</section>  